<div>
	<app-navigation [currentNavigation]="'Dashboard'"></app-navigation>
</div>

<div class="container mt-3">

	<div class="card bg-light">
		<div class="card-body">
			<h5 class="card-title">Summary of Transactions</h5>
			<div class="flex-wrap" *ngIf="transactions">
				<button class="btn mr-2 btn-primary" (click)="setTransactionsFilter(0)"
					[ngClass]="{ 'selected-trx-type': viewType === 0 }">
					All <span class="badge badge-light">{{ transactions?.length }}</span>
				</button>
				<button class="btn mr-2 bg-deposit" (click)="setTransactionsFilter(TType.Deposit)"
					[ngClass]="{ 'selected-trx-type': viewType === TType.Deposit }">
					Deposit <span class="badge badge-light">
						{{ (transactions | filterByType: TType.Deposit).length }}
					</span>
				</button>
				<button class="btn mr-2 bg-buy" (click)="setTransactionsFilter(TType.Buy)"
					[ngClass]="{ 'selected-trx-type': viewType === TType.Buy }">
					Buy <span class="badge badge-light">
						{{ (transactions | filterByType: TType.Buy).length }}
					</span>
				</button>
				<button class="btn mr-2 bg-dividend" (click)="setTransactionsFilter(TType.Dividend)"
					[ngClass]="{ 'selected-trx-type': viewType === TType.Dividend }">
					Dividend <span class="badge badge-light">
						{{ (transactions | filterByType: TType.Dividend).length }}
					</span>
				</button>
				<button class="btn mr-2 bg-sell" (click)="setTransactionsFilter(TType.Sell)"
					[ngClass]="{ 'selected-trx-type': viewType === TType.Sell }">
					Sell <span class="badge badge-light">
						{{ (transactions | filterByType: TType.Sell).length }}
					</span>
				</button>
				<button class="btn mr-2 bg-fee" (click)="setTransactionsFilter(TType.Fee)"
					[ngClass]="{ 'selected-trx-type': viewType === TType.Fee }">
					Fee <span class="badge badge-light">
						{{ (transactions | filterByType: TType.Fee).length }}
					</span>
				</button>
				<button class="btn bg-payout" (click)="setTransactionsFilter(TType.Payout)"
					[ngClass]="{ 'selected-trx-type': viewType === TType.Payout }">
					Payout <span class="badge badge-light">
						{{ (transactions | filterByType: TType.Payout).length }}
					</span>
				</button>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm card mt-2 mr-1 bg-light">
			<app-dashboard-category-summary 
				[transactions]="filteredTransactions"
				[ttype]="viewType">		
			</app-dashboard-category-summary>
		</div>

		<div class="col-sm card mt-2 ml-1 bg-light">
			<div class="card-body">
				<h5 class="card-title">Chart of <span class="badge bg-deposit">Deposit</span></h5>
			</div>
		</div>
	</div>
</div>
