<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="nav-link" href="/dashboard" 
	[class.selected]="currentNavigation === 'Dashboard'">Dashboard</a>

	<a class="nav-link" href="/transactions"
	[class.selected]="currentNavigation === 'Transactions'">Transactions</a>

	<a class="nav-link" href="/profile">Profile</a>

	<div class="nav-link pointer" (click)="logout()">
		<span class="spinner-border spinner-border-sm mr-2" role="searching_stock" aria-hidden="true" *ngIf="isLoggingOut"></span>
		<img src="assets/ic_logout.png"/>
	</div>
</nav>